<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  
  <!--${basedir} = D:\Projects\EFOperation\bin\Debug\netcoreapp3.0-->
  <targets>
    <target name="file1" xsi:type="File"
        layout="${longdate} ${logger} ${message}${exception:format=ToString}"
        fileName="${basedir}\logs\nlog-all-${shortdate}.log"
        keepFileOpen="true"
        encoding="utf-8" />
    <target name="csv" xsi:type="File" fileName="${basedir}/nlog-all-${shortdate}.csv">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${longdate}" />
        <column name="message" layout="${message}" />
        <column name="logger" layout="${logger}"/>
        <column name="level" layout="${level}"/>
      </layout>
    </target>
    <target name="file2" xsi:type="File"
        layout="${longdate} ${logger} ${message}${exception:format=ToString}"
        fileName="${basedir}/logs/logfile.txt"
        maxArchiveFiles="4"
        archiveAboveSize="10240"
        archiveEvery="Day" />
    <target name="file3" xsi:type="File"
          layout="${longdate} ${logger} ${message}${exception:format=ToString}"
          fileName="${basedir}/LevelLogs/${level}.log" />
    <target name="file4" xsi:type="File"
            layout="${longdate} ${logger} ${message}${exception:format=ToString}"
            fileName="${basedir}/${shortdate}.log" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file3" />
  </rules>
</nlog>